/* ------  header -------- */
#logo {
	float:left;
	margin-right: 15px;
	margin-top: 10px;
}

header {
	padding: 10px;	
}

header span{
	margin-top: 2px;
	font-size: 2em;
	font-weight: bold;
	font-family: monospace;
}

header h1{
	font-size: 1.5em;
	margin-top: 5px;
	margin-left: 4em;
}
/* ................................. */


#competent li, #implementation li, #language li, #timeline li, #productive li, #innovative li{
	display:inline;
	margin-left: 40px;
}



#productive, #implementation, #competent, #innovative {
	display:inline;
	background-color: gray;
	color: white;
}

#d_impl{
	width:50em;
}
