.col1 {
    width: 20%; 
    //background-color: SandyBrown;
    background-color: black;
    color: gold;
    padding-left: 5px;
    border-right-width: thin;
    border-right-style: dotted;
    border-color: red;
}

.col2 {
    width: 80%;
    //background-color: PapayaWhip;
    background-color: black;
    color: orange;
    padding: 0px 5px 0px 5px;
}


.language {
    text-align: center;
    padding-right: 10px;
}

#impl {
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.mid {
    padding-top: 2.4em;
}

.right {
    text-align: right;
}

.odd {
    //background-color: Linen;
    background-color: black;
}

.even {
    background-color: black;
    //background-color: OldLace;
}

.strong {
    font-weight: bold;
    color: darkorange;
    color: yellow;
}

.heading {
    padding-top: 1em;
}

th {
	text-align: left;
}
#logo {
    margin-right: 1em;
    padding-bottom: 5px;
    padding-left: 10px;
}

#exerienced { //
    border-style: dashed; //
    border-width: 1px 0px 1px 0px;
    height: 6em;
    width: 100%;
}

#exerienced col2 {
    color: gold;
}

#topteaser {
    width: 100%;
}

#innovative {
    height: 1.5em;
}
#inno {
    display: inline;
}

.competent {
    height: 1.2em;
    padding-top: 5px;
}

#uml {
    margin-left: -.6em;
}

#prod {
    height: 2em; //
    padding-bottom: 0.5em;
}

#bottomteaser table {
	width: 100%;
    font-size: smaller;
	background-color: blue;
}


body {
	width:800px;
	margin:0px auto;
}