.col1 {
    width: 6.8em; 
    //background-color: SandyBrown;
    background-color: black;
    color: gold;
    padding-left: 5px;
    border-right-width: thin;
    border-right-style: dotted;
    border-color: red;
}

.col2 {
    width: 23em;
    //background-color: PapayaWhip;
    background-color: black;
    color: orange;
    padding: 0px 5px 0px 5px;
}

.hbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
}

/* .hbox> * { */
/*         -webkit-box-flex: 0; */
/*         -moz-box-flex: 0; */
/*         box-flex: 0; */
/*         display: block; */
/* } */
.vbox {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
}

/* .vbox> * { */
/*         -webkit-box-flex: 0; */
/*         -moz-box-flex: 0; */
/*         box-flex: 0; */
/*         display: block; */
/* } */
.spacer {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.reverse {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
}

.boxFlex0 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}

.boxFlex1,.boxFlex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.boxFlex2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}

.boxGroup1 {
    -webkit-box-flex-group: 1;
    -moz-box-flex-group: 1;
    box-flex-group: 1;
}

.boxGroup2 {
    -webkit-box-flex-group: 2;
    -moz-box-flex-group: 2;
    box-flex-group: 2;
}

.start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
}

.end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
}

.center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

.language {
    text-align: center;
    padding-right: 10px;
}

#impl {
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.mid {
    padding-top: 2.4em;
}

.right {
    text-align: right;
}

.odd {
    //background-color: Linen;
    background-color: black;
}

.even {
    background-color: black;
    //background-color: OldLace;
}

.strong {
    font-weight: bold;
    color: darkorange;
    color: yellow;
}

.heading {
    padding-top: 1em;
}

#logo {
    margin-right: 1em;
    padding-bottom: 5px;
    padding-left: 10px;
}

#exerienced { //
    border-style: dashed; //
    border-width: 1px 0px 1px 0px;
    height: 6em;
    width: 30em;
}

#exerienced col2 {
    color: gold;
}

#topteaser {
    width: 30em;
}

#innovative {
    height: 1.5em;
}
#inno {
    display: inline;
}

.competent {
    height: 1.2em;
    padding-top: 5px;
}

#uml {
    margin-left: -.6em;
}

#prod {
    height: 2em; //
    padding-bottom: 0.5em;
}

#bottomteaser {
    width: 30em;
    padding-top: 3em;
    font-size: smaller;
}