.page, .hbox, .vbox, .window, .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hbox {
    flex-direction: row;
}

.vbox,
.window {
    flex-direction: column;
}


#content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

div {
    border: solid 2px;
    padding: 10px;
    margin: 5px;
    display: flex;
}




