:root {
    /* COLOUR DEFINITIONS */
    --color-dark-yellow:   #fff26a;
    --color-light-yellow:  #ffa;
    --color-dark-orange:   #ff5f00; /* rgba(255, 95, 0, 1)    -- hsla(22, 100%, 50%, 1) */
    --color-light-orange:  #ee7f3d; /* rgba(238, 127, 61, 1)  -- hsla(22, 84%, 59%, 1) */

/ *======================= */
    --sdt-bg-color:         var(--color-dark-yellow);
    --heading-bg-color:     var(--color-light-yellow);
    --section-shadow-color: var(--color-dark-orange);
}

