@import 'colors.css';
@import 'fonts.css';

html {
    background-color: var(--sdt-bg-color);
}

body {
    font-family: TeXSans;
}

ul {
    list-style-image: url("../../site/images/bullet.png");
}

