@import 'colors.css';
@import 'fonts.css';

html {
    background-color: var(--color-light-orange);
}

body {
    font-family: TeXSans;
}

ul {
    list-style-image: url("../../site/images/bullet.png");
}

.dark {
    background-color: rgba(149, 92, 0, 0.47);
    color: #fff2d0;
}

a.dark {
    color: #fff2d0;
    font-weight: bold;
}

.shaddow {
    color: #ffffff;
    background-color: rgba(188, 122, 0, 0.47);
}

a.shaddow {
    font-weight: bold;
    color: #ffffff;
}

.light {
    background-color: rgba(255, 204, 153, 0.49);
    color: darkred;
}

a.light {
    font-weight: bold;
    color: darkred;
}

.bright {
    background-color: rgba(255, 239, 191, 0.47);
    color: darkred;
}

a.bright {
    font-weight: bold;
    color: darkred;
}
