html{
	background-color:#ee6d34;
    background-image: url("../images/lake-baker-like-2400x14nn.jpg");
    background-repeat: no-repeat;
    overflow: scroll;
}

body {
    padding-top: 5px;
}

/* ------  header -------- */
#logo {
    float:left;
    margin: 5px;
}

header {
    background-color:#ffffde;
    padding: 10px 10px 5px 10px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: 2px;
}


#heading{
    margin: 0 auto;
    max-width: 32em;
}

#slogan{
    margin-top: 5px;
}




#slogan span{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    font-family: monospace;
    width: 100%;
    text-align: center;
}


#slogan #firma{
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

#slogan #contact{
    margin-top: 0.4em;
    font-size: xx-small;
}

#main{
    margin: 0 auto;
    max-width: 32em;
}

/* ------  navigation -------- */
#topnav{
    padding: 5px;
}
#navigation{
    margin-top: 5px;
    width: 100%;
    background-color: #550000;
}

.col1{
    width: 20%;
    float: left;
    color: #ffff99;
}

.col2{
    width: 80%;
    margin-left: 20%;
}


#analysis, #uml, #design{
    width: 33%;
    float: left;
}

#analysis, #implementation, #design{
    background-color: #ffefbf;
}
#analysis #analysis-inner{
    margin: 2px;
    text-align: left;
}

#uml{
    width: 34%;
    text-align: center;
    background-color: #ffcc99;
}
#design #design-inner{
    margin: 2px;
    text-align: right;
}
#competent_row2, #experienced{
    width:100%;
    text-align: center;
    clear: left;
}

#cpp, #delphi, #java, #javascript{
    width:25%;
    float:left;
}

.bordered{
    border-style: solid;
    border-bottom-width: 2px;
}