body, footer nav{
	background-color:#ffefbf;
}
/* ------  header -------- */
#logo {
	float:left;
	margin: 15px 15px 0px 10px
}

header {
	background-color:#ffffde;
	padding: 0px 10px 5px 10px;
	border-bottom-style: solid;
	border-bottom-color: orange;	
	border-bottom-width: 2px;	
}

header span{
	font-size: 1.2em;
	font-weight: bold;
	font-family: monospace;
}

header h1{
	font-size: 1.5em;
	margin-top: 13px;
	margin-left: 1em;
	margin-bottom: 0;
}

#heading div nav{
	background-color:#ffffde;
	height: 0px;
}

#slogan{
	margin-top: 5px;
	float:left;
}

#contact{
	margin-left:36em;
	margin-right: 1em;
	text-align: right;
	font-size: 0.8em;
}

#contact p{
	margin: 0;
}

#contact span{
	font-weight: bold;
	margin-right: 20px;
}


#heading, #main{
	max-width: 70em;
}

#main{
	position: 'relative';
}

#navigation{
		float: left;
}

#content{
	margin-top: 1em;
	margin-left: 35em;
}

article{
	background-color:#ffffde;
}
/* ................................. */
#bottomteaser {
	background-color:#ffffde; 
	width: 33em;
	margin: 0em 1em 0.1em 1em;
}

#bottomteaser table{
	background-color:#ffffde; 
	width: 33em;
	margin: 1em;
}

#topteaser{
	background-color:#ffffde; 
	width: 33em;
	margin: 0em 1em 1em 1em;
}

#bottomteaser table, td, th{
	margin: 0;
	border-style: none;
	text-align: left;
	font-size: small;
	/*border-color: red;*/
}

#bottomteaser td, th{
	padding: 2px 10px 2px 5px;
}


#topteaser > span{
	padding: 5px;
}

nav{
	background-color: black;
	color: orange;
	padding: 5px;
}

.col1{
	float:left;
}
.col1 span{
	color: #ffffde;
}
.col2{
	margin-left: 7em;
	padding-left: 10px;
	border-left-style: dotted;
	border-left-width: 1px;
	border-left-color: yellow;
}
.strong, .strong a {
	color:yellow;
}

#experienced {
	position: relative; 
	height:  95px;
}

#topteaser a {
	color:orange;
}

#topteaser .strong a {
	color:yellow;
}

#exp_row {
	position: relative; 
}

#exp_label{
	position: absolute;
	top: 50px;
}

#cpp, #delphi, #java, #js, #t1993, #t1997, #t2000, #t2006 {
	position: absolute;
}

#cpp, #delphi, #java, #js{
	top: 35px;
}
#t1993, #t1997, #t2000, #t2006 {
	top: 60px;
}

#cpp, #t1993{
	left: 20px;
}

#delphi, #t1997 {
	left: 104px;
}

#java, #t2000 {
	left: 190px;
}

#js, #t2006 {
	left: 270px;
}


#competent div, #implementation div, #productive div, #innovative div{
	display:inline;
}

#competent, #productive{
	padding-left:30px;
}

#implementation{
	padding-left:130px;
}

#competent .spacer{
	margin-left:85px;
	margin-right:85px;
}

#productive .spacer {
	margin-left:40px;
	margin-right:40px;
}

#productive .spacer2{
	margin-left:0px;
	margin-right:40px;
}

#innovative{
	text-align: center;
}

#inno_row, #innovative {
	padding-top: 10px;
}

.hidden {
	display:none;
}

section{
	padding: 1em;
	border-top: solid white 1px;
	border-left: solid white 1px;
}

section header{
	background-color: white;
	padding: 0 0 5px 0;
	margin: 0;
	font-weight: bold;
	border-bottom-color: red;	
	border-bottom-width: 2px;
		
}

section header h1{
	background-color:#ffffde;
	padding-bottom: 5px;
	margin: 0 0 5px 0;
	border-bottom-color: red;	
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 1.3em;
}

section a{
	color: red;
}
/*
footer{
	background-color: #ffffde;
	max-width: 71em;
	border-top-style: solid;
	border-top-color: orange;	
	margin-top: 1em;
}
*/
footer nav{
	text-align: right;
}


#metanav {
	margin-left: 1em;	
}

#metanav, #metanav nav{
	background-color:#ffefbf;
}

#metanav li{
	display: inline;
}

#metanav nav a, #metanav nav a:visited{
	background-color:#ffefbf;
	color: orange;
	font-size: small;
}

div.box-flat {
   border-bottom: 1px solid #bbb;
   border-right: 1px solid #777;
}

.boxshadow div.box-flat {
   border: none;
   box-shadow: #bbb 2px 2px 2px;
   -moz-box-shadow: #bbb 2px 2px 2px;
   -webkit-box-shadow: #bbb 2px 2px 2px;
}

div.box-high {
   border-bottom: 2px solid #666;
   border-right: 2px solid #777;
}

.boxshadow div.box-high {
   border: none;
   box-shadow: #666 3px 3px 3px;
   -moz-box-shadow: #666 3px 3px 3px;
   -webkit-box-shadow: #666 3px 3px 3px;
}

.more{
	color: orange;
}