#main {
}

#topnav {
    margin: 1em 0em;
    background-color: #ffe;
    color: black;
    font-size: 0.75em;
}

.navrow {
    justify-content: space-between;
}

.navcol-1 {
    width: 9em;

    color: rgba(68, 5, 68, 0.98);
    font-family: TeXMono_Bold, monospace;
    font-size: 1em;
}

.navcol-2 {
    justify-content: space-around;


    font-family: TeXMono_Bold, monospace;
    text-align: center;
}
