/* -------------- projects ----------------------------*/
div.customers {
    margin: 1em;

    border-bottom-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #fc9;
}

div.customer_project {
    margin-left: 1em;
}

.customer_place {
    display: inline;
}

.customer_description {
    display: block;
    padding-left: 2em;

    font-size: 0.7em;
}

.project_name {
    margin-bottom: 0.1em;

    font-family: TeX_Bold;
    font-weight: bold;
}

p.project_skills {
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

p.project_endcustomer {
    margin-top: 0.2em;
}

span.invisible {
    display: none;
}
