@CHARSET "UTF-8";
div#metamenu{
	padding: 0px;
}
.metamenu{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
div#menuframe{
	float:left;
	margin: 0em 0em 0em 0em;
	padding: 0px 0px 0px 0px;
	z-index: 50;
	position: absolute;
	top: 160px;
}
div.mainmenu{
	background-color:#ffffd0;
	border-style: solid;
	border-width:1px;
	border-color:#fc9;
	padding: 0px 0px 3px 0px;
	margin: 10px 10px 10px 10px;
}
div.mainmenu .label{
	background-color:#fea;
	border-style: solid;
	border-width:0px 0px 1px 0px;
	border-color:#fc9;
	padding-left:5px;
	padding-right:5px;
	margin:0px;
	font-weight:bold;
}
div.mainmenu a.menu{
	padding: 0px 5px 0px 5px;
	display:block;
}
a.menu{
	color:maroon;
	margin:0px 0px 0px 0px;
	text-decoration: none;
}
a.menu:hover{
	color:green;
	font-family: arial, sans-serif;
	text-decoration: underline;
}
div#contextmenuframe{
	margin-left: .5em;
	margin-top: 1em;
}
.contextMenuEntry{
	font-weight:bold;
	background-color:#ffd;
	padding:0px 4px 1px 4px;
	border-style: solid;
	border-width:1px;
	border-color:#fc7;
	border-bottom-width:0px;
	display:inline;
}
div#contextmenuframe a.menu{
	background-color:#ffffd0;
	padding:0px 4px 0px 4px;
	border-style: solid;
	border-width:1px;
	border-color:#fca;
	font-weight: bold;
}
div#contextmenuframe a.menu:hover{
	background-color:#ffd;
	padding:0px 4px 1px 4px;
	border-color:#fc7;
	border-bottom-width:0px;
}
