<div  class="overlay" >
    <div  id="footer">
        <footer>
            <div id='metanav'>
                <nav>
                    <ul>
                        <li><a href="/">Startseite</a></li>
                        <li><a href="/impressum">Kontakt</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                        <li><a href="/disclaimer">Haftungsausschluss</a></li>
                        <li><a href="/about">about</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</div>
