<div  class="overlay" >
    <div  id="header">
        <header id='heading'>
                <nav>
                    <a id='home' href="/"><img id='logo' src='images/logo.png' /></a>
                </nav>
                <div id='slogan'>
                    <span id="firma">SoftWareEngineering Wolfgang&nbsp;Egger</span>
                    <span id="product">Custom Software</span>
                    <span id='contact'>
                    Bahnhofstraße 17 &bull; 12555 Berlin &bull; w.egger@framlin.com
                    </span>
                </div>
        </header>
    </div>
</div>
