<div  class="overlay" >
    <div  id="header">

        <header id='heading' class="hbox">
                <nav>
                    <a id='home' href="/"><img id='logo' src='images/logo.png' /></a>
                </nav>
                <div id='slogan' class="vbox">
                    <div id="firma">SoftWareEngineering Wolfgang&nbsp;Egger</div>
                    <div id="product">Custom Software</div>
                    <div id='contact'>
                    Bahnhofstraße 17 &bull; 12555 Berlin &bull; w.egger@framlin.com
                    </div>
                </div>
        </header>

    </div>
</div>
