<div class='content'>
    <article>
        <section id='sec_home'>
            <header>
                <h1>
                    <a id='#home'>Willkommen</a>
                </h1>
                SoftwareEntwicklung ist mein Leben und kann der Schlüssel zum
                Erfolg Ihres Unternehmens sein.
            </header>
            <p>Ich entwickle seit 20 Jahren anspruchsvolle
                SoftwareSysteme und muss mich zwingen, hin und wieder auch mal an
                etwas anderes zu denken, als an das aktuelle Projekt, an
                Objektstrukturen oder Algorithmen.</p>
            <p>Für Sie bedeutet das einen Partner an Ihrer Seite, der Tag
                und Nacht nur Ihr Geschäft im Kopf hat und jede Minute damit
                verbringt, für Sie nach Lösungen und Verbesserungen zu suchen.</p>
            <p>
                <audio controls>
                    <source src="audio/frm-warum-swe.ogg" type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>
            </p>
        </section>
        <section id='sec_implementation'>
            <header>
                <h1>
                    <a id='implementation'>Implementation</a>
                </h1>
                Coden ist das Salz in der Suppe meiner Arbeit als
                Softwareentwickler.
            </header>
            <p>Ich verbringe täglich ca. 6 Stunden mit "hacken". Zu sehen,
                dass der Computer tut, was man ihm "anschafft" und dass man mit
                dem Ergebnis dann auch noch etwas nützliches anfangen kann,
                verschafft mir eine tiefe, innere Befriedigung.</p>
            <p>Programmieren ist der handwerkliche Teil der
                Softwarenetwicklung. Die praktischen Erfahrungen, die ich dabei
                gewinne, sind zudem unverzichtbar, um in den eher theoretischen
                Phasen - Analyse und Design - gute Ergebnisse zu erzielen.</p>
            <footer><div class="msg"> Preis: 65€/h - 480€/Tag (8h)</div><nav><a href="#home">top</a></nav></footer>
        </section>
        <section class='hidden' id='sec_javascript'>
            <header>
                <h1>
                    <a id='#javascript'>JavaScript</a>
                </h1>
                Meine Lieblingsprogrammiersprache ist JavaScript
            </header>
            <p>Ich programmiere seit 2006 Enterprise WebApplikationen
                (RIA/FAT-Client) in JavaScript. Zunächst mit XUL als
                Auszeichnungssprache, seit 2012 auch mit ExtJS.</p>
            <p>Neben der Nutzerführung und der Serverkommunikation ist auch
                ein beträchtlicher Teil der Geschäftslogik in JavaScript
                implementiert. Im Verlauf dieses Projektes konnte ich nachhaltige
                und tiefgründige Erfahrungen in den Bereichen:
            </p>
            <ul>
                <li>Objektorientierung (prototypenbasiert)</li>
                <li>funktionale Programmierung (Closures)</li>
                <li>asynchrone Serveraufrufe (AJAX)</li>
                <li>DOM-scripting</li>
            </ul>
            <p>
                sammeln.
            </p>
            <!--<p>Nachdem ich jahrelang in objektorientierten Sprachen mit-->
            <!--statischer Typisierung programmiert hatte (C++, Delphi, Java), stand ich JavaScript-->
            <!--anfangs sehr skeptisch gegenüber. Ich teilte das allgemeine-->
            <!--Voruteil, dass diese Sprache lediglich dazu nützlich sein könnte,-->
            <!--Webseiten optisch "aufzumotzen"</p>-->
            <!--<p>Sechs Jahre täglicher Einsatz als-->
            <!--Anwendungsprogrammiersprache für Enterprise Applikationen haben-->
            <!--mich eines besseren belehrt. JavaScript besticht durch eine-->
            <!--gelungene Symbiose aus funktionalen und objektorientierten-->
            <!--Ausdrucksmöglichkeiten. Zusammen mit der dynamischen Typisierung-->
            <!--lassen sich damit bei hoher Entwicklungsgeschwindigkeit stabile-->
            <!--und klar strukturierte Softwaresysteme entwickeln.</p>-->
            <p>
                <audio controls>
                    <source src="audio/frm-js.ogg" type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>
            </p>
            <footer><div class="msg"> Preis: 65€/h - 480€/Tag (8h)</div><nav><a href="#home">top</a></nav></footer>
        </section>
        <section class='hidden' id='sec_analysis'>
            <header>
                <h1>
                    <a id='#analysis'>Analysis</a>
                </h1>
                Die Analyse bestehender Software-Systeme und Geschäftsprozesse ist
                meine Kernkompetenz
            </header>
            <p>Meine größte Stärke ist meine Begabung für analytisches
                Denken. Dadurch fällt es mir sehr leicht, mich in bestehende
                Software einzudenken und mich schnell darin zurechtzufinden.</p>
            <p>Darüber hinaus ermöglicht mir diese Fähigkeit, bestehende
                Geschäftsprozesse in logische Strukturen zu übersetzen und
                daraus neue Algorithmen abzuleiten.</p>
            <footer><div class="msg"> Preis: 65€/h - 480€/Tag (8h)</div><nav><a href="#home">top</a></nav></footer>
        </section>
        <section class='hidden' id='sec_design'>
            <header>
                <h1>
                    <a id='#design'>Design</a>
                </h1>
                I'll give you a DRY KISS
            </header>
            <ul>
                <li>Dont Repeat Yourself</li>
                <li>Keep It Simple, Stupid</li>
                <li>Separation of Concerns</li>
            </ul>
            <p>
                sind die Designprinzipien, an denen ich mich vornehmlich orientiere.
            </p>
            <p>Selbst wenn ich in der Regel kein Design-Modell erstelle, bevor ich mit der Implementation beginne, habe ich diese Prinzipien immer im Hinterkopf</p>
            <p>Darüber hinaus versuche ich - wo immer möglich - mein Design an erprobten Design-Patterns, die sich in den letzten 20 Jahren herauskristalisiert haben, auszurichten.
                <footer><div class="msg"> Preis: 65€/h - 480€/Tag (8h)</div><nav><a href="#home">top</a></nav></footer>
        </section>
        <section class='hidden' id='sec_magicdraw'>
            <header>
                <h1>
                    <a id='#magicdraw'>MagicDraw</a>
                </h1>
                MagicDraw ist in meinen Augen das beste UML-Modellierungswerkzeug
                auf dem Markt. Ich benutze es täglich zur Analyse, zum Designen
                und zur Dokumentation.
            </header>
            <p>Grund für meine Einschätzung ist die Tatsache, dass es als
                eines der wenigen Tools konsequent auf die Arbeit mit einem Modell
                setzt.</p>
            <p>Bei mir entwickelt sich ein Modell kontinuerlich während des
                gesamten Entwicklungsprozesses. Am Anfang steht oft ein kleines
                Analysmodell, das sich dann schnell in ein erstes Designmodell
                verwandelt</p>
            <p>Im Verlauf der Impementierung "protokolliere" ich wichtige
                Implementierungsdetails im Modell, stelle Teile davon in
                Diargammen dar und verwende dieses dann als Kommunkationshilfe in
                der Diskussion mit anderen Teammitgliedern, um zu entscheiden, wie
                die Software weiterentwickelt werden kann</p>
            <footer><div class="msg"> Preis: 65€/h - 480€/Tag (8h)</div><nav><a href="#home">top</a></nav></footer>
        </section>
    </article>
</div>
