<div class='content'>
    <article>
        <section class='hidden' id='sec_projects'>
            <header>
                <h1>
                    <a id='#projects'>Projekte</a>
                </h1>
                Hier sind nur die Projekte aufgeführt, die ich als
                Freelancer durchgeführt habe. Daneben war ich außerdem einige
                Jahre fest angestellt und im Rahmen der Walden&Egger GbR
                selbständig tätig.
                <p>
                    Nähere Einzelheiten siehe unter <a
                        href="http://www.framlin.info/cv" target="_blank">Lebenslauf
                    Wolfgang Egger</a>
                </p>
            </header>
            <div class="customers">
                <h4>
                    &bull;&nbsp;Kunde:&nbsp;<span class="customer_firm">Soprado GmbH & Co. KG</span>,&nbsp;<span
                        class="customer_place">München</span><span
                        class="customer_description">&nbsp;(software identity)</span>
                </h4>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">Leasing Vertragsverwaltung +++ Javascript Enterprise WebApplication</span>
                    <p class="project_skills">Technik: JavaScript, NodeJS, XUL, ExtJS, AJAX</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Sixt Leasing AG</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
            </div>
            <div class="customers">
                <h4>
                    &bull;&nbsp;Kunde:&nbsp;<span class="customer_firm">Hoch3 GmbH</span>,&nbsp;<span
                        class="customer_place">Berlin</span><span
                        class="customer_description">&nbsp;(Healthcare-Kommunikation)</span>
                </h4>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">BWP
							2005 (Upgrade) +++ barrierefreie PDF-Archiv-CD mit Volltextsuche</span>
                    <p class="project_skills">Technik: J2EE, JSP, XML, XSLT,
                        XSL-FO</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Bundesinstitut für Berufsbildung</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name"
                        >Dardia	International</span>
                    <p class="project_skills">Technik: PHP, Perl, CMS (Teamsite)</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Intendis GmbH</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
            </div>
            <div class="customers">
                <h4>
                    &bull;&nbsp;Kunde:&nbsp;<span class="customer_firm">WR-Multimedia</span>,&nbsp;<span
                        class="customer_place">Nürnberg</span><span
                        class="customer_description">&nbsp;(Web Development)</span>
                </h4>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">BWP
							2007 (Update)</span>
                    <p class="project_skills">Technik: J2EE, JSP, XML, XSLT,
                        XSL-FO</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Bundesinstitut für Berufsbildung</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">BWP
							2006 (Update)</span>
                    <p class="project_skills">Technik: J2EE, JSP, XML, XSLT,
                        XSL-FO</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Bundesinstitut für Berufsbildung</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">MS
							SpaceSellers</span>
                    <p class="project_skills">Technik: C#, .NET, ActionScript, XML</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Microsoft Deutschland GmbH</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">Pille.com</span>
                    <p class="project_skills">Technik: PHP, Perl, CMS (Teamsite)</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Schering Deutschland GmbH</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">Ventavis
							International</span>
                    <p class="project_skills">Technik: PHP</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Schering Deutschland GmbH</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">AZA
							- Redirector</span>
                    <p class="project_skills">Technik: PHP</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Intendis GmbH</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">BWP
							2004 (Update)</span>
                    <p class="project_skills">Technik: XML, XSLT, XSL-FO,
                        ActionScript</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Bundesinstitut für Berufsbildung</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">BWP
							2003 +++ PDF-Archiv-CD mit Volltextsuche</span>
                    <p class="project_skills">Technik: XML, XSLT, XSL-FO,
                        ActionScript</p>
                    <p class="project_endcustomer">
                        Endkunde: <em>Bundesinstitut für Berufsbildung</em>
                    </p>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">IT
							Consulting</span>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
            </div>
            <div class="customers">
                <h4>
                    &bull;&nbsp;Kunde:&nbsp;<span class="customer_firm">Institut der
							Kasseler Stottertherapie</span>,&nbsp;<span class="customer_place">Kassel</span><span
                        class="customer_description"><br/>(Multidimensionale
							Stottertherapie)</span>
                </h4>
                <div class="customer_project">
                    <span class="invisible">Projekt: </span><span class="project_name">IT
							Consulting</span>
                </div>
					<span class="invisible">
						<p>&nbsp;</p>
					</span>
            </div>
        </section>
    </article>
</div>
